.invoice-generation-container {
  margin: 30px 0;
}

.invoice-generation-container > h1 {
  color: var(--primary-color);
  margin-bottom: 20px;
  text-align: center;
}

.invoice-input-container {
  display: grid;
  gap: 20px;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
}

.invoice-input-container > div > input {
  width: 300px !important;
}

.invoice-input-complete-container > div > p {
  margin: 20px 0;
}

.invoice-input-complete-container > .submit-button {
  display: grid;
  justify-items: center;
  margin: 20px 0;
}

/* .invoice-form-input-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
} */

.invoice-form-input-only-headers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.PurchaseEntryButton {
  padding: 0.5em 2em;
  font-size: 1em;
  outline: none;
  border: 0.5px solid var(--primary-color);
  border-radius: 1.25em;
  color: var(--primary-color);
  background: #fff;
  margin: 0 1em;
}

.invoice-container-container {
  width: 100%;
  /* height: 100vh; */
  display: grid;
  justify-content: center;
  align-items: center;
}

.noOfBatches {
  grid-column: span 2;
}

.individual-batches {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.batch_quant {
  grid-column: span 2;
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  gap: 17px;
}

/* @media all {
  .page-break {
    display: none;
  }
} */

.input-container-contact,
.autocomplete-wrapper-invoice {
  width: 300px;
}

.other-charges-container {
  margin-top: 20px;
}

.other-charges {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.freight > label {
  text-wrap: nowrap;
}

.freight,
.insurance {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.individual-container {
  border-top: 1px solid gray;
  padding: 20px;
}

@media print {
  html,
  body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
  }
}

@media print {
  .page-break {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    page-break-before: auto;
    break-inside: avoid;
  }
}

@page {
  size: auto;
  margin: 40mm 0;
}
