.invoice-generation-container {
  margin: 30px 0;
}

.invoice-generation-container > h1 {
  color: var(--primary-color);
  margin-bottom: 20px;
  text-align: center;
}

.invoice-input-container {
  display: grid;
  gap: 20px;
  justify-items: center;
}

.invoice-input-container > div > input {
  width: 300px;
}

.invoice-input-complete-container > div > p {
  margin: 20px 0;
}

.invoice-input-complete-container > .submit-button {
  display: grid;
  justify-items: center;
  margin: 20px 0;
}

.invoice-form-input-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.PurchaseEntryButton {
  padding: 0.5em 2em;
  font-size: 1em;
  outline: none;
  border: 0.5px solid var(--primary-color);
  border-radius: 1.25em;
  color: var(--primary-color);
  background: #fff;
  margin: 0 1em;
}

.invoice-container-container {
  width: 100%;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

/* @media all {
  .page-break {
    display: none;
  }
} */

@media print {
  html,
  body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
  }
}

@media print {
  .page-break {
    margin-top: 1rem;
    display: block;
    page-break-before: always;
    break-inside: avoid;
  }
}

@page {
  size: auto;
  margin: 40mm 0;
}
