.sidebar-container {
  min-width: 13em;
  /* height: 100%; */
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  border-radius: 0 100px 100px 0;
  width: 210px;
  height: 400px;
  position: sticky;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  overflow-y: auto;
}

.sidebar-container > ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar-container > ul > li {
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* background-color: var(--background-color); */
}

.sidebar-container > ul > li > a:hover {
  color: black;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
