* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

:root {
  --background-color: #f6f6fc;
  --primary-color: #187bcd;
  --font-color: #fff;
}

body {
  background-color: var(--background-color);
}